html, body {
    height: 100%
}

body {
    background: black;
    margin: 0;
}

/* prevent images from being dragged & ghost images*/
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }



#main {
    display: grid;
    height: 100%;
    align-items: center;
    color: white;
    /* grid-template-columns: 1fr auto 1fr; */
    grid-template-columns: auto auto auto;
}

#champion-selection {
    padding: 1em;
    justify-self: end;
    /* prevent images from being dragged & ghost images*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.champion-card {
    padding: 10px 0;    

}

.champion-image {
    border: 0.0001px solid #ffffff45;
    /* temp value media query later */
    width: 100px;
    height: 100px;
}

.active-selection {
    border: 0.0001px solid gold;
}

#canvas {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 900px;
    height: 600px;
    background: white;
    justify-self: center;
    /* justify-self: center;
    align-self: center; */
}