:root {
    --colorShadeA: rgb(106, 163, 137);
    --colorShadeB: rgb(121, 186, 156);
    --colorShadeC: rgb(150, 232, 195);
    --colorShadeD: rgb(187, 232, 211);
    --colorShadeE: rgb(205, 255, 232);
}

*::before, *::after {
    box-sizing: border-box;
}

* { /* disable selection (make site more app-like and less like a document) */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Chrome, Edge, Opera and Firefox */
}

html, body {
    height: 100%;
    margin: 0;
}


/* prevent images from being dragged & ghost images*/
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}


.start-no-display {
    display: none !important;
}


/* Cursor */
.remove-champion-cursor {
    cursor: url('../assets/hud-icons/delete-icon.png'), auto;
}



/* Starting Screen */
#starting-screen {
    background-image: url("../assets/background/resized.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0; 
    height: 100%;

    display: grid;
    align-content: center; /* aligns the actual content (menu btns) center */
    justify-items: center; /* justify EVERYTHING (including pos: abs) center */
}

#starting-game-logo {
    /* position: absolute; */
    margin-top: -3.5em;
}

#starting-menu {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-row-gap: 2.75em;
    /* padding-top: 3em; */
}
  
.starting-menu-btn {
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.25em;
    color:var(--colorShadeA);
    font-weight: 700;
    text-transform: uppercase;
    font-family: inherit;
    padding: 0.6em 1.75em;
    border: 2px solid var(--colorShadeA);
    border-radius: 1em;
    background: var(--colorShadeE);
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}

.starting-menu-btn::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--colorShadeC);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
    transform: translate3d(0, 0.75em, -1em);
    transition: all 175ms cubic-bezier(0, 0, 1, 1);
}
  
  
.starting-menu-btn:hover {
    background: var(--colorShadeD);
    transform: translate(0, 0.375em);
}
  
.starting-menu-btn:hover::before {
    transform: translate3d(0, 0.75em, -1em);
}
  
.starting-menu-btn:active {
    transform: translate(0em, 0.75em);
}
  
.starting-menu-btn:active::before {
    transform: translate3d(0, 0, -1em);
    box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
}












#main {
    display: grid;
    height: 100%;
    align-items: center;
    color: white;
    /* grid-template-columns: 1fr auto 1fr; */
    grid-template-columns: 1fr auto 1fr;

    /*  */
    /* background-image: url("../assets/waves_repeating_green.png");
     */
    background-image: url("../assets/background/level1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#champion-selection {
    padding: 1em;
    justify-self: end;
    /* prevent images from being dragged & ghost images*/
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.champion-card {
    padding: 10px 0;    

}

.champion-image {
    border: 0.0001px solid #ffffff45;
    /* temp value media query later */
    width: 100px;
    height: 100px;
}

.active-selection {
    border: 0.0001px solid gold;
}

#canvas {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: 900px;
    height: 600px;
    /* background: white; */
    justify-self: center;
    /* justify-self: center;
    align-self: center; */
}






/* Game HUD */
#gameHUD {
    position: absolute;
    align-self: start;
    justify-self: center;
    display: flex;
    flex-direction: row;
}


#destroy {
    
    transition: all 0.3s ease-in-out;
}

#destroy:hover {
    transform: translateY(6px);
}


/*tooltip */
.tooltip {
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    
    width: 100%;
    padding: 0px 20px;
  
    background: #333;
    color: #E086D3;
    
    position: absolute;
    top:-140%;
    left: -25%;
    
  
    border-radius: 9px;
    font: 16px;
  
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    
    box-shadow: 0 0 3px rgba(56, 54, 54, 0.86);
}


/* tooltip  after*/
.tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #333 transparent transparent transparent;

    position: absolute;
    left: 40%;

}

.con-tooltip:hover .tooltip{
    visibility: visible;
    transform: translateY(-10px);
    opacity: 1;
    transition: .3s linear;
    animation: odsoky 1s ease-in-out infinite  alternate;

}
@keyframes odsoky {
    0%{
    transform: translateY(6px);	
    }

    100%{
    transform: translateY(1px);	
    }

}

/*bottom*/

.bottom .tooltip { top:115%; left:-20%; }

.bottom .tooltip::after{
  top:-17%;
  left:40%;
  transform: rotate(180deg);
}

  








/* Modals */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /*centering*/
    transition: 200ms ease-in-out;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    z-index: 200; /* z placed above everything */
    background-color: white;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    padding: 2%;
    text-align: center;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1); /* scale(0) before, change to scale(1) to make it appear */
}

.modal-header {
  margin: 0.75em;
  padding-bottom: 0.1em;
  display: inline-block; /* in order for bottom border to fit */
  border-bottom: 2.5px dotted rgba(34,139,34, 0.5);
}

.modal-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: Chalkdust, Georgia, serif;
  letter-spacing: 0.4em;
  margin-right: -0.4em; /*counteract the extra spacing last letter*/
  color: darkgreen;
}

.modal-body {
  padding: 10px 15px;
  line-height: 1.4;
  opacity: 0.9;
  font-family: Georgia, sans-serif;
  font-weight: bold;
}

.modal button {
  background-color: #47A386;
  margin-top: 0.75em;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  padding: 10px 25px;
  opacity: 0.8;
  transition: opacity 0.2s ease-out; 
  -webkit-transition: opacity 0.2s ease-out;
  font-family: Georgia, sans-serif;
}

.modal button:hover {
  opacity: 1;
}

.modal button:active {
  opacity: 1;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 0.1;
  pointer-events: all;
  z-index: 20; 
}


/* RESPONSIVE */
@media only screen and (max-width: 1400px) {
  .modal {
    width: 50%;
  }
}

@media only screen and (max-width: 800px) {
  .modal {
    width: 85%;
  }
}

@media only screen and (max-width: 360px) {
  .modal {
    width: 95%;
  }
}






  

/* Starting Screen Animation Overlay */
@keyframes rotateMove {
    0%{
      transform: translateY(0) rotate(0deg);
      opacity: 0.9;
      border-radius: 0;
    }
  
    100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0.5;
      border-radius: 50%;
    }
  }
  
@media only screen and (max-width: 800px) {
    @keyframes rotateMove { /* change starting opacity to be 0.5, text more legible */
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.7;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0.3;
        border-radius: 50%;
    }
    }

    #virus-sprites li img {
    height: 28px;
    width: 28px;
    }
}

#virus-background-animation {
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
}

#virus-sprites {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#virus-sprites li img {
    height: 40px;
    width: 40px;
}

#virus-sprites li {
    position: absolute; 
    display: block;
    list-style: none;
    animation: rotateMove 25s linear infinite;
    bottom: -150px;
}

#virus-sprites li:nth-child(1){
    left: 25%;
    width: 25px;
    height: 25px;
    animation-delay: 0s;
}

#virus-sprites li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

#virus-sprites li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

#virus-sprites li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

#virus-sprites li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

#virus-sprites li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

#virus-sprites li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

#virus-sprites li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

#virus-sprites li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

#virus-sprites li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}